<header>
  <div class="head">
    <nav>
      <div class="container-fluid">
          <div class="navbar-header">
              <a href="#" class="navbar-brand" style="color:rgba(181, 181, 171, 0.639);font-style: italic;">Portfolio</a>
          </div>
        <div class="main">
          <ul class="nav">
              <li routerLinkActive="active"><a routerLink="">Home</a></li>
              <li routerLinkActive="active"><a routerLink="/about">About</a></li>
              <li routerLinkActive="active"><a routerLink="/skills">Skills</a></li>
              <li routerLinkActive="active"><a routerLink="/projects">Projects</a></li>
              <li routerLinkActive="active"><a routerLink="/contact">Contact Me</a></li>
              <!-- <li routerLinkActive="active"><a routerLink="/signin">Edit</a>
                </li> -->
          </ul>
          
        </div>
      </div>
  </nav>

  </div>
    
    
</header>