<div id="container">
        
    <div class="intro">
       
    <div class="animation photo">
            <img src="../../assets/images/face.jpg" width="200px" height="300px">
        </div>
        <div class="sub">
            <!-- <div class="buttons"> -->
    
    <h2 class=" animation a1">Hello Everybody! I am</h2>
    <h1 class=" animation a2"> Anjana Anil</h1>
    <h3 class=" animation a3">Associate Software Engineer</h3><br>
    <div style="padding-left:70px;"><p>Keep Exploring to know more about me!</p></div>

</div>   
</div>

</div>
